<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finacialsys.mapper.ExpandMapper">

   <resultMap id="ExpandMap" type="Expand">
		    <id property = "outID" column = "out_ID" />
		     <result property = "outMoney" column = "out_Money" />
		     <result property = "outTime" column = "out_Time" />
		     <result property = "outPlace" column = "out_Place" />
		     <result property = "outMessage" column = "out_Message" /> 
		   <association property="user" javaType="User">
             <id property = "userID" column = "user_ID" />		   
		     <result property = "userName" column = "user_Name" /> 
		   </association>
		   <association property="log" javaType="Log">
            <id property = "logID" column = "Log_ID" />		   
		     <result property = "logName" column = "Log_Name" />
	  		</association>
	  		  <association property="expandgroup" javaType="ExpandGroup">
            <id property = "outgroupID" column = "outgroup_ID" />		   
		     <result property = "outgroupTime" column = "outgroup_Time" /> 
		     <result property = "outgroupBrief" column = "outgroup_Brief" /> 
		     <result property = "outgroupMsg" column = "outgroup_Msg" /> 
	   </association>
   </resultMap>
   
   <select id="findExpandByID" parameterType = "string" resultMap="ExpandMap">
		SELECT 
		u.user_ID, u.user_Name,
		o.out_Money, o.out_Time, o.out_Place, o.out_Message, o.out_ID,
		l.Log_ID, l.Log_Name,
		e.outgroup_ID,e.outgroup_Brief
		FROM 
		users u JOIN tb_expand o 
		ON 
		u.user_ID = o.user_ID JOIN tb_log l
		ON
		o.Log_ID = l.Log_ID JOIN tb_expand_group e
		on o.outgroup_ID = e.outgroup_ID
		WHERE 
		u.user_ID = #{userID}
  </select> 
  
   <select id="findExpandByPlan" parameterType = "int" resultMap="ExpandMap">
		select * from tb_expand
		JOIN tb_plan
		on tb_plan.plan_ID = tb_expand.plan_ID
		where tb_expand.plan_ID = #{planID}
  </select> 
  
  <resultMap id="ByGroupMap" type="Expand">
        <id property = "outID" column = "out_ID" />
	     <result property = "outMoney" column = "out_Money" />
	     <result property = "outTime" column = "out_Time" />
	     <result property = "outPlace" column = "out_Place" />
	     <result property = "outMessage" column = "out_Message" /> 
	   <association property="expandgroup" javaType="ExpandGroup">
            <id property = "outgroupID" column = "outgroup_ID" />		   
		     <result property = "outgroupTime" column = "outgroup_Time" /> 
		     <result property = "outgroupBrief" column = "outgroup_Brief" /> 
		     <result property = "outgroupMsg" column = "outgroup_Msg" /> 
	   </association>
  </resultMap>
  
  <select id="showPage"  resultMap="ExpandMap">
  	select * from(
		<!-- select 
		
	    from 
		tb_expand o JOIN tb_log l
		ON
		o.Log_ID = l.Log_ID
		where user_ID = #{userID} -->
		SELECT 
		u.user_ID, u.user_Name,
		o.out_Money, o.out_Time, o.out_Place, o.out_Message, o.out_ID,
		l.Log_ID, l.Log_Name,
		e.outgroup_ID,e.outgroup_Brief
		FROM 
		users u JOIN tb_expand o 
		ON 
		u.user_ID = o.user_ID JOIN tb_log l
		ON
		o.Log_ID = l.Log_ID JOIN tb_expand_group e
		on o.outgroup_ID = e.outgroup_ID
		WHERE 
		u.user_ID = #{userID}
	) as b limit #{offset}, #{size}
  </select>
  
   <select id="showPageByGroupID"  resultMap="ExpandMap">
  	select * from(
		<!-- select 
		
	    from 
		tb_expand o JOIN tb_log l
		ON
		o.Log_ID = l.Log_ID
		where user_ID = #{userID} -->
		SELECT 
		u.user_ID, u.user_Name,
		o.out_Money, o.out_Time, o.out_Place, o.out_Message, o.out_ID,
		l.Log_ID, l.Log_Name,
		e.outgroup_ID,e.outgroup_Brief
		FROM 
		users u JOIN tb_expand o 
		ON 
		u.user_ID = o.user_ID JOIN tb_log l
		ON
		o.Log_ID = l.Log_ID JOIN tb_expand_group e
		on o.outgroup_ID = e.outgroup_ID
		WHERE 
		u.user_ID = #{userID} and e.outgroup_ID = #{groupID}
	) as b limit #{offset}, #{size}
  </select>
  <select id="findExpandByGroup" parameterType = "int" resultMap="ExpandMap"> 
       SELECT 
		u.user_ID, u.user_Name,
		o.out_Money, o.out_Time, o.out_Place, o.out_Message, o.out_ID,
		l.Log_ID, l.Log_Name,
		e.outgroup_ID,e.outgroup_Brief
		FROM 
		users u JOIN tb_expand o 
		ON 
		u.user_ID = o.user_ID JOIN tb_log l
		ON
		o.Log_ID = l.Log_ID JOIN tb_expand_group e
		on o.outgroup_ID = e.outgroup_ID
		WHERE 
		e.outgroup_ID = #{outgroupID}
  </select>
  
  <select id="countExpand" parameterType = "String" resultType="int"> 
        SELECT count(1)
        from tb_expand
        where tb_expand.user_ID = #{userID}
  </select>
  
  <select id="countByEXGID"  resultType="int"> 
         SELECT count(1)
        from tb_expand
        where tb_expand.user_ID = #{userID} and tb_expand.outgroup_ID = #{groupID}
  </select>
  
  <resultMap id="ByLogMap" type="Expand">
        <id property = "outID" column = "out_ID" />
	     <result property = "outMoney" column = "out_Money" />
	     <result property = "outTime" column = "out_Time" />
	     <result property = "outPlace" column = "out_Place" />
	     <result property = "outMessage" column = "out_Message" /> 
	   <association property="log" javaType="Log">
            <id property = "logID" column = "Log_ID" />		   
		     <result property = "logName" column = "Log_Name" />
	   </association>
  </resultMap>
  
  <select id="findExpandByLog" parameterType = "Expand" resultMap="ByLogMap"> 
        SELECT 
        o.out_Money, o.out_Time, o.out_Place, o.out_Message,
        l.Log_ID, l.Log_Name,
        u.user_ID
        FROM
        tb_expand o JOIN tb_log l
        ON
        o.Log_ID = l.Log_ID JOIN users u
        ON
        o.user_ID = u.user_ID
        WHERE
        o.Log_ID = #{log.logID} AND o.user_ID = #{user.userID}
  </select>
  
  <insert id="insertExpand" parameterType="Expand">
        INSERT INTO tb_expand (user_ID,outgroup_ID,Log_ID,plan_ID,out_Money,out_Time,out_Place,out_Message)
        VALUES (#{user.userID},#{expandgroup.outgroupID},#{log.logID},#{plan.planID},#{outMoney},#{outTime},#{outPlace},#{outMessage})
  </insert>
  
  <delete id="deleteExpand" parameterType="int">
        DELETE FROM tb_expand
        WHERE out_ID = #{outID}
  </delete>
  
  <update id="updateExpand" parameterType="Expand">
        UPDATE tb_expand
        SET
        outgroup_ID = #{expandgroup.outgroupID},
        Log_ID = #{log.logID},
        plan_ID = #{plan.planID},
        out_Money = #{outMoney},
        out_Time = #{outTime},
        out_Place = #{outPlace},
        out_Message = #{outMessage}
        WHERE
        out_ID = #{outID};
  </update>
  
  
  <update id="resetPlan" parameterType="int">
        UPDATE tb_expand
        SET
     	plan_ID = null
        WHERE
        plan_ID = #{planID};
  </update>
  
  <select id = "SumExpandInLog" parameterType="SumMoney" resultType="Double">
        SELECT SUM(out_Money) 
        FROM tb_expand
        WHERE
        out_Time BETWEEN #{headTime} AND #{tailTime} 
        AND
        Log_ID = #{logID}
        AND 
        user_ID = #{userID}
  </select>

</mapper>